<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shuahuo.dao.ToysAgoAndNowMapper">

    <!-- 得到所有的玩具前世今生信息 -->
    <select id="findAllToysAgoAndNow" resultType="ToysAgoAndNow">
        select
        *
        from toys_agoandnow
    </select>

    <!-- 根据id查找某个玩具前世今生信息 -->
    <select id="selectToysAgoAndNowById" resultType="ToysAgoAndNow" parameterType="java.lang.Integer" >
        select
        *
        from toys_agoandnow where toys_agoandnow_id = #{toys_agoandnow_id,jdbcType=INTEGER}
    </select>

    <!-- 根据玩具id查找某个玩具前世今生信息 -->
    <select id="selectToysAgoAndNowByToysId" resultType="ToysAgoAndNow" parameterType="java.lang.Integer" >
        select
        *
        from toys_agoandnow where toys_id = #{toys_id,jdbcType=INTEGER}
    </select>

    <!-- 根据id删除某个玩具前世今生信息 -->
    <delete id="deleteToysAgoAndNowByPrimaryKey" parameterType="java.lang.Integer" >
        delete from toys_agoandnow where toys_agoandnow_id = #{toys_agoandnow_id,jdbcType=INTEGER}
    </delete>

    <!-- 插入一条玩具前世今生信息 -->
    <insert id="insertToysAgoAndNowSelective" parameterType="com.shuahuo.bean.ToysAgoAndNow" >
        insert into toys_agoandnow
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="toys_agoandnow_id != null" >
                toys_agoandnow_id,
            </if>
            <if test="toys_id != null" >
                toys_id,
            </if>
            <if test="toys_agoandnow_title != null" >
                toys_agoandnow_title,
            </if>
            <if test="toys_agoandnow_img_one != null" >
                toys_agoandnow_img_one,
            </if>
            <if test="toys_agoandnow_img_two != null" >
                toys_agoandnow_img_two,
            </if>
            <if test="toys_agoandnow_img_context != null" >
                toys_agoandnow_img_context,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="toys_agoandnow_id != null" >
                #{toys_agoandnow_id,jdbcType=INTEGER},
            </if>
            <if test="toys_id != null" >
                #{toys_id,jdbcType=INTEGER},
            </if>
            <if test="toys_agoandnow_title != null" >
                #{toys_agoandnow_title,jdbcType=VARCHAR},
            </if>
            <if test="toys_agoandnow_img_one != null" >
                #{toys_agoandnow_img_one,jdbcType=VARCHAR},
            </if>
            <if test="toys_agoandnow_img_two != null" >
                #{toys_agoandnow_img_two,jdbcType=VARCHAR},
            </if>
            <if test="toys_agoandnow_img_context != null" >
                #{toys_agoandnow_img_context,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!-- 根据id更新一条玩具前世今生信息 -->
    <update id="updateToysAgoAndNowByPrimaryKeySelective" parameterType="com.shuahuo.bean.ToysAgoAndNow" >
        update toys_agoandnow
        <set >
            <if test="toys_id != null" >
                toys_id = #{toys_id,jdbcType=INTEGER},
            </if>
            <if test="toys_agoandnow_title != null" >
                toys_agoandnow_title = #{toys_agoandnow_title,jdbcType=INTEGER},
            </if>
            <if test="toys_agoandnow_img_one != null" >
                toys_agoandnow_img_one = #{toys_agoandnow_img_one,jdbcType=VARCHAR},
            </if>
            <if test="toys_agoandnow_img_two != null" >
                toys_agoandnow_img_two = #{toys_agoandnow_img_two,jdbcType=VARCHAR},
            </if>
            <if test="toys_agoandnow_img_context != null" >
                toys_agoandnow_img_context = #{toys_agoandnow_img_context,jdbcType=VARCHAR},
            </if>
        </set>
        where toys_agoandnow_id = #{toys_agoandnow_id,jdbcType=INTEGER}
    </update>
</mapper>