/**
    耍货滑动验证控件css 
*/

/* 
四种字体：
PingFangSC-Regular 标准
PingFangSC-Light 细
PingFangSC-Medium 中黑
PingFangSC-bold 中粗
*/
.canvaswapper{
    position: absolute;
    z-index: auto;
    top: 115px;
    visibility: hidden;
    opacity: 0;
}

#canvas{
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 800;
}

#block{
    position: absolute;
    top: 0px;
    left: -130px;
    z-index: 1000;
}

.slide{
    width: 298px;
    height: 40px;
}

.drag{
    width: 100%;
    height: 100%;
    line-height: 40px;
    background-color: #e8e8e8;
    position: relative;
    margin:0 auto;
}
.bg{
    width:40px;
    height: 100%;
    position: absolute;
    background-color: #75CDF9;
}
.text{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    user-select: none;
    color: #b3b3b3;
    font-size: 14px;
    font-family: PingFangSC-Regular;
}
.btn{
    width:40px;
    height: 38px;
    position: absolute;
    border:1px solid #ccc;
    cursor: move;
    text-align: center;
    background-color: #fff;
    user-select: none;
    color:#666;
}
 