/* 
四种字体：
PingFangSC-Regular 标准
PingFangSC-Light 细
PingFangSC-Medium 中黑
PingFangSC-bold 中粗
*/

.main-wapper{
    width: 1080px;
    margin: auto;
}

.link-wapper{
    margin-top: 35px;
}

.link-wapper li{
    margin-right: 10px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

.link-wapper li a{
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #000000;
}

.carousel-wapper{
    width: 1080px;
    height: 320px;
    margin-top: 30px;
}

.carousel-wapper img{
    width: 100%;
    height: 100%;
}

.main-content{
    box-sizing: border-box;
    padding: 40px;
    margin-top: 20px;
    background-color: white;
    padding-bottom: 0px;
}