<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/structure.css">
    <link rel="stylesheet" href="../../css/structure-min.css">
    <link rel="stylesheet" href="../../css/ft-carousel.css" />
    <link rel="stylesheet" href="../../css/main-content-title.css">
    <link rel="stylesheet" href="../../css/course-modelling-iframe.css">

    <title>Document</title>
</head>

<body>
    <div class="main-content">
        <div class="main-content-title clearfloat">
            <ul id="content-tetle-ul">
                <li class="l-margin-none">
                    <p>材料：</p>
                </li>
                <li class="click-li" id="zhumu_li">
                    <div>竹木</div>
                </li>
                <li id="jingshu_li">
                    <div>金属</div>
                </li>
                <li>
                    <div>泥制</div>
                </li>
                <li>
                    <div>织布</div>
                </li>
                <li>
                    <div>纸质</div>
                </li>
                <li>
                    <div>石头</div>
                </li>

                <li>
                    <div>陶瓷</div>
                </li>
                <li>
                    <div>实用</div>
                </li>
            </ul>
        </div>
        <hr class="hr-a">
        <!-- iframe -->
        <iframe src="course-modelling-material-zhumu.html" frameborder="0" scrolling="no" width="1080px" height="1984px"
            style="position: relative; left: -40px;" id="material_iframe"></iframe>
    </div>
</body>
<script src="../../js/jquery.min.js"></script>
<script src="../../js/click-content-tetle.js"></script>
<script>
    //点击li跳转iframe
    $(function () {
        $('#material_iframe').css('height', '1984px');
        $('#modelling-iframe', parent.document).css('height', '1984px');
        //竹木
        $('#zhumu_li').click(function () {
            $('#material_iframe').attr('src', 'course-modelling-material-zhumu.html');
            $('#material_iframe').css('height', '1984px');
            $('#modelling-iframe', parent.document).css('height', '1984px');
        });
        $('#jingshu_li').click(function () {
            $('#material_iframe').attr('src', 'course-modelling-material-jingshu.html');
            $('#material_iframe').css('height', '1915px');
            $('#modelling-iframe', parent.document).css('height', '1915px');
        });
    });
</script>

</html>