<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/structure.css">
    <link rel="stylesheet" href="../../css/structure-min.css">
    <link rel="stylesheet" href="../../css/course-structure-content.css">
    <script src="../../js/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="video-wapper">
    <video src="../../resources/video/testvideo.mp4" width="700px" height="400px" controls="controls">
        Your browser does not support the video tag.
    </video>

    <p class="video-text">
        视频介绍视频介绍视频介绍视频介绍视频介绍视频介绍视频介绍视频介绍视频介绍视频介绍视频介绍视频介绍视频介绍视频介绍视频介绍视频介绍视频介绍视频介绍视频介绍视频介绍视频介绍视频介绍视频介绍视频介绍视频介绍
    </p>
    </div>
</body>
</html>