<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        *{
            margin: 0px;
        }
        .main-div{
            position: relative;
            width: 1080px;
            height: 3395px;
            background-image: url(../../resources/img/structure_img/shunmao.jpg);
            background-repeat: no-repeat;
        }
        .main-div video{
            position: absolute;
            top: 610px;
            left: 39px;
        }
    </style>
</head>
<body>
    <div class="main-div">
            <video src="../../resources/video/structure_video/shunmao.mp4" controls="controls" style="width: 1000px; height: 562px;">
                Your browser does not support the video tag.
            </video>
    </div>
</body>
</html>