<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        * {
            margin: 0px;
        }

        .main-div {
            position: relative;
            width: 1080px;
            height: 3600px;
            background-image: url(../../resources/img/modelling_function_img/jianzhu.jpg);
            background-repeat: no-repeat;
        }
        .main-div video{
            position: absolute;
            top: 1208px;
            left: 127px;
        }
    </style>
</head>

<body>
    <div class="main-div">
            <video src="../../resources/video/function_video/jianzhu.mp4" width="820px" height="560px" controls="controls">
                Your browser does not support the video tag.
            </video>
    </div>
</body>

</html>