<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>耍货</title>
</head>

<body>
    请稍等
</body>
<script src="../../js/jquery.min.js"></script>
<script>
    function islogin() {
        var Data = "";
        $.ajax({
            type: 'GET',
            dataType: 'json',
            async: false,
            url: '../../islogin',
            success: function (data) {
                Data = data;
            }
        });
        return Data;
    }
    var userInformation = islogin();

    if (userInformation.code == -1 || userInformation.data == null) {
        //转发到登录页
        window.location.href = '../login.html';
    }
    if (userInformation.data != null) {
        //转发到我的页面
        window.location.href = '../myorder.html';
    }
</script>

</html>