<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>耍下</title>
    <link rel="shortcut icon" href="../SX@0.1/TemplateData/favicon.ico">
    <link rel="stylesheet" href="../SX@0.1/TemplateData/style.css">
    <script src="../SX@0.1/TemplateData/UnityProgress.js"></script>
    <script src="../SX@0.1/Build/UnityLoader.js"></script>
    <script>
      var unityInstance = UnityLoader.instantiate("unityContainer", "../SX@0.1/Build/1.json", {onProgress: UnityProgress});
    </script>
  </head>
  <body>
    <div class="webgl-content">
      <div id="unityContainer" style="width: 960px; height: 600px"></div>
  </body>
</html>
